{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="row" style="text-align:center">
    <div class="col-6 border p-2">
        <h4>Ставка ЦБ РФ</h4>
        <p>На {{ key_rate_date }} действующая ключевая ставка {{ key_rate_value }}%</p>
        <form action="" class="mt-3">
            <div class="mb-3 mx-5">
                <label for="exampleFormControlInput1" class="form-label">Начальная дата</label>
                <input type="date" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3 mx-5">
                <label for="exampleFormControlInput1" class="form-label">Финальная дата</label>
                <input type="date" class="form-control" id="exampleFormControlInput1">
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>
    </div>
    <div class="col-6 border p-2">
        <h4>Акции</h4>
        {% if graphic %}
            <img src="data:image/svg+xml;base64, {{graphic|safe}}" class="img-fluid">
        {% endif %}
        <form action="{% url 'main' %}" method="get" class="mt-3">
            <select class="form-select">
                <option selected>{{ticker}}</option>
                <option value="1">FIVE</option>
                <option value="2">VKCO</option>
                <option value="3">SBER</option>
            </select>
            <select class="form-select">
                <option selected>{{interval}}</option>
                <option value="1">week</option>
                <option value="2">month</option>
                <option value="3">hour</option>
            </select>
            <div class="mb-3 mx-5">
                <label for="exampleFormControlInput1" class="form-label">Начальная дата</label>
                <input name="startDate" type="date" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3 mx-5">
                <label for="exampleFormControlInput1" class="form-label">Финальная дата</label>
                <input name="endDate" type="date" class="form-control" id="exampleFormControlInput1">
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>
    </div>
</div>


<div class="row" style="text-align:center">
    <h4 class="my-3">Курс валют</h4>
    {% for valute in course %}
    <span class="col">{{valute}}</span>
    {% endfor %}
</div>
{% endblock %}